.btn {
  display: inline-block;
  appearance: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: var(--color-primary-2);
  color: var(--color-primary-1);
  cursor: pointer;
  font-weight: bold;
  border: 0.1875rem solid var(--color-primary-2);
  transition: background, border, color 0.2s;
}

.btn:active {
  background-color: var(--color-primary-1);
  border-color: var(--color-primary-1);
  color: var(--color-white);
}
