@import 'modern-normalize/modern-normalize.css';

:root {
  --color-white: #FFF;
  --color-primary-1: #495E57;
  --color-primary-2: #F4CE14;
  --color-secondary-1: #EE9972;
  --color-secondary-2: #FBDABB;
  --color-secondary-3: #EDEFEE;
  --color-secondary-4: #333333;
}

body {
  font-family: Karla, sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  /* background-color: var(--color-secondary-3); */
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2 {
  font-family: "Markazi Text", serif;
  font-weight: 400;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

#__app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.booking-page {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .booking-page {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
